@charset "utf-8";

@font-face { font-family: nokiafc22; src: url('nokiafc22.ttf'); } 
 @font-face { font-family: nokiafc22; font-weight: bold; src: url('nokiafc22.ttf');}

/*header style*/
header {
   text-align: center; 
   padding: 20px;
   color: #000000;
   font-size: 2vw;
}
.responsive {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
}
/*navigation menu style*/
nav {
   text-align: center;
   word-spacing: 30px;
   font-size: medium;
   font-size: 2vw;
   Padding: 10px;
   color: #000000;
   accent-color: #FFFFFF;
}
main {
   text-align: center;
   margin-left: 5px;
   word-spacing: 5px;
   Padding: 2px;
   font-size: smaller;
   font-size: 5vw;
   color: #000000;
}
h2 {
   text-align: center;
   margin-left: 5px;
   word-spacing: 5px;
   Padding: 2px;
   font-size: larger;
   font-size: 5vw;
   color: #000000;
}
h3 {
   text-align: center;
   margin-left: 5px;
   word-spacing: 5px;
   Padding: 2px;
   font-size: larger;
   font-size: 5vw;
   color: #000000;
}
h4 {
   text-align: center;
   margin-left: 5px;
   word-spacing: 5px;
   Padding: 2px;
   font-size: larger;
   font-size: 5vw;
   color: #000000;
}
body {
   text-align: center;
   word-spacing: 30px;
   margin-left: 5px;
   font-size:medium;
   font-size: 5vw;
   padding: 10px;
}
article {
   text-align: center;
   word-spacing: 30px;
   margin-left: 5px;
   font-size:medium;
   font-size: 5vw;
   padding: 10px;
}
a {
   color: #b6ffca;
}
a:hover {
    color:#000000;
    text-shadow: 0 0 1vw b6ffca;
    text-
}
.profile h1 {
   text-align: center;
   font-size: 5vw;
}
/*footer style*/
footer {
   text-align: left; 
   font-size: smaller;
   font-size: 5vw;
   padding: 20px;
   color: #000000;
}
.responsive {
  flex: 0 0 auto;
  align-content: center;
  max-width: 30vw;
  display: flex;
  align-items: center; /* Centers logo content */
}
.responsive img {
  width: 100%;
  height: auto;
  display: block;
}
#mydiv {
  position: absolute;
  z-index: 9;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
}

:root {
   font-family: nokiafc22;
   color: #000000;
   background-color: #84ae90;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 7vw;
  }
  h1 {
   font-size: 7vw;
  }
  main {
   font-size: 7vw;
  }
  article {
   font-size: 7vw;
  }
  img {
    max-width:50%;
}
}