/*header style*/
header {
   text-align: center; 
   padding: 20px;
   color: #FFFFFF;
   background-color: #1b1b1b;
   font-size: 2vw;
   font-family: Helvetica;
}
/*creating the two-column layout*/
*{
   box-sizing: border-box;
}
.responsive {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
}
/*navigation menu style*/
nav {
   text-align: center;
   word-spacing: 30px;
   font-size: medium;
   font-size: 2vw;
   Padding: 10px;
   background-color: #1b1b1b;
   font-family: Helvetica;
   color: #FFFFFF;
   accent-color: #FFFFFF;
}
/*main style*/
main {
   text-align: left;
   margin-left: 5px;
   word-spacing: 5px;
   Padding: 2px;
   font-size: smaller;
   font-size: 2vw;
   color: #FFFFFF;
   background-color: #1b1b1b;
   font-family: Helvetica;
}
h2 {
   text-align: left;
   margin-left: 5px;
   word-spacing: 5px;
   Padding: 2px;
   font-size: larger;
   font-size: 4vw;
   color: #FFFFFF;
   background-color: #1b1b1b;
   font-family: Helvetica;
}
h3 {
   text-align: left;
   margin-left: 5px;
   word-spacing: 5px;
   Padding: 2px;
   font-size: larger;
   font-size: 6vw;
   color: #FFFFFF;
   background-color: #1b1b1b;
   font-family: Helvetica;
}
h4 {
   text-align: centre;
   margin-left: 5px;
   word-spacing: 5px;
   Padding: 2px;
   font-size: larger;
   font-size: 6vw;
   color: #FFFFFF;
   background-color: #1b1b1b;
   font-family: Helvetica;
}
/*body style*/
body {
   text-align: left;
   word-spacing: 30px;
   margin-left: 5px;
   font-size:medium;
   font-size: 2vw;
   padding: 10px;
   background-color: #1b1b1b;
   font-family: Helvetica;
}
/*alert style*/
alert {
   text-align: left;
   word-spacing: 30px;
   margin-left: 5px;
   font-size:medium;
   font-size: 2vw;
   padding: 10px;
   background-color: #1b1b1b;
   font-family: Helvetica;
}
   /*navigation bar button style*/
}
nav a {
   color: #FFFFFF;
   text-decoration: none;
   font-size: larger;
   font-size: 2vw;
}
a {
   color: #efd153;
}
.profile h1 {
   text-align: center;
   background-color: #f5f5dc;
   font-size: 2vw;
}
/*footer style*/
footer {
   text-align: left; 
   font-size: smaller;
   font-size: 2vw;
   padding: 20px;
   color: #FFFFFF;
   font-family: Helvetica;

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
}